<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết khóa học</title>
</head>
<body>
<!-- Result -->
<div class="quiz-result" th:if="${result != null}">
    <h2>Result</h2>
    <p>
        <strong>Highest Score:</strong> <span th:text="${result.highestScore}"></span> |
        <strong>Latest Score:</strong> <span th:text="${result.latestScore}"></span> |
        <strong>Status:</strong>
        <span th:text="${result.passed ? 'Pass' : 'Fail'}"></span>
    </p>
</div>

<div class="quiz-container">
    <h1 th:text="${topic.title}">Quiz Title</h1>
    <p>
        <strong>Total Score:</strong> <span th:text="${topic.totalScore}"></span> |
        <strong>Passing Score:</strong> <span th:text="${topic.passScore}"></span>
    </p>

    <!-- Form to process responses -->
    <form th:action="@{/courses/{id}/quiz/submit(id=${courseId})}" method="post" id="quiz-form">
        <input type="hidden" name="quizId" th:value="${topic.id}">

        <!-- Loop through the question list -->
        <div th:each="question : ${topic.questions}" class="question">
            <h2>
                Câu hỏi <span th:text="${question.sequence}"></span>:
                <span th:text="${question.content}">Question content</span>
            </h2>

            <!-- Loop through the answer list -->
            <div th:each="answer : ${question.getAnswers()}">
                <input
                        type="checkbox"
                        th:name="'question_' + ${question.id} + '_answer_' + ${answer.id}"
                        th:value="${answer.id}"
                        th:id="'answer_' + ${answer.id}">
                <label th:for="'answer_' + ${answer.id}" th:text="${answer.content}">Answer content</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit Quiz</button>
    </form>
</div>


<div th:if="${nextTopic != null}">
    <a th:href="@{/courses/{courseId}/{chapterNumber}_{topicNumber}
    (courseId=${courseId}, chapterNumber=${nextTopic.getChapter().getSequence()}, topicNumber=${nextTopic.getSequence()})}">
        Go to next topic</a>
</div>

<a th:href="@{/courses/{courseId}(courseId=${courseId})}">Back to course</a>

<a th:href="@{/courses}">Back to courses homepage</a>
</body>
</html>
