<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Danh sách khóa học</title>
</head>
<body>
<h1>Danh sách khóa học</h1>
<div th:each="course : ${courses}">
  <h3 th:text="${course.title}"></h3>
  <a th:href="${course.thumbnailUrl}" />
  <p th:text="${course.description}"></p>
  <a th:href="@{/courses/{id}}">Xem chi tiết</a>
  <form th:action="@{/courses/{id}/enroll(id=${course.id})}" method="post">
    <button type="submit">Đăng ký khóa học</button>
  </form>
</div>
</body>
</html>
