<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Instructor Profile</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.0.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
</head>

<body>

<div class="container profile-container" id="instructorProfile-container" th:fragment="instructorProfile">
    <div class="row">
        <div class="col-md-12">
            <h3>Instructor Profile</h3>

            <!-- Display Avatar -->
            <div class="mb-3 instructorProfile-profile-item">
                <label class="form-label">Avatar</label><br>
                <img src="#" th:src="@{${instructorInfo.avatarUrl}}" alt="Instructor Avatar" class="instructorProfile-avatar-img">
            </div>

            <!-- Display Profile Information -->
            <div class="instructorProfile-profile-item">
                <label class="form-label">Full Name</label>
                <p th:text="${instructorInfo.name}" class="instructorProfile-user-info"></p>
            </div>

            <div class="instructorProfile-profile-item">
                <label class="form-label">Email</label>
                <p th:text="${instructorInfo.email}" class="instructorProfile-user-info"></p>
            </div>

            <div class="instructorProfile-profile-item">
                <label class="form-label">Phone</label>
                <p th:text="${instructorInfo.phone}" class="instructorProfile-user-info"></p>
            </div>

            <div class="instructorProfile-profile-item">
                <label class="form-label">Bio</label>
                <div th:utext="${instructorInfo.bio}" class="instructorProfile-user-info"></div>
            </div>
        </div>
    </div>
</div>

<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
