<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>list_question</title>
</head>
<body>
    <div th:fragment="listQuestionFragment" 
        th:each="question, iterStat : ${topic.questions}" 
        class="question" 
        style="margin-bottom: 3%;">
      <h5>
          <b>Question <span th:text="${iterStat.count}"></span>: </b>
          <span th:if="${question.content != null}"><span th:utext="${question.content}"/> <em th:text="${'(' + question.point + ' point)'}"/></span>
          <em th:if="${question.questionType == 'CHOICE_MANY'}"><small>(May select multiple answers)</small></em>
      </h5>

      <!-- For INPUT_TEXT questions -->
      <div th:if="${question.questionType == 'INPUT_TEXT'}" class="mb-3">
          <input type="text" 
                 class="form-control" 
                 th:name="'question_' + ${question.id}"
                 placeholder="Enter your answer here"
                 required>
      </div>

      <!-- For CHOICE_ONE and CHOICE_MANY questions -->
      <div th:if="${question.questionType != 'INPUT_TEXT'}" th:with="questionType = ${question.questionType == 'CHOICE_MANY' ? 'checkbox' : 'radio'}">
          <div th:each="answer : ${question.getAnswers()}">
              <input th:if="${questionType == 'checkbox'}"
                      class="form-check-input" 
                      type="checkbox"
                      th:name="'question_' + ${question.id} + '_answer_' + ${answer.id}"
                      th:value="${answer.content}" 
                      th:id="'answer_' + ${answer.id}">
              <input th:if="${questionType != 'checkbox'}"
                      class="form-check-input"
                      th:type="${questionType}"
                      th:name="'question_' + ${question.id}"
                      th:value="${answer.content}"
                      th:id="'answer_' + ${answer.id}">
              <label class="form-check-label" th:for="'answer_' + ${answer.id}" th:text="${answer.content}">
                  Answer content
              </label>
          </div>
      </div>
    </div>
</body>
</html>