.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.custom-box {
    border-radius: 30px;
    background-color: azure;
    padding: 20px;
    margin-bottom: 15px;
}


body {
    font-family: 'Laila';
}

h4 {
    font-weight: bold;
}
